/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.card{
    border: none;
}

.mt-6{
    margin-top: 6rem;
}

/*=============================== FONT SIZE ===============================*/
.smaller-font{
    font-size: smaller;
}

.xsmall-font{
    font-size: x-small;
}

.small-font{
    font-size: small;
}

.medium-font{
    font-size: medium;
}


/*=============================== BUTTONS ===============================*/
.red-text{
    color: #c2122c;
}

.blue-text{
    color: #2f4c61;
}


/*=============================== BUTTONS ===============================*/
.btn-red{
    background-color: #c2122c;
    border: none;
    border-radius: 10px; 
    /* font-size: 75%;  */
    box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.16);
}

.btn-red:hover{
    background-color: #a01026;
}

.btn-blue{
    background-color: #2f4c61;
    border: none;
    border-radius: 5px; 
    /* font-size: 75%;  */
    box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.16);
}

.btn-blue:hover{
    background-color: #203341;
}

.btn-yellow{
    color: black;
    background-color: #ffb910;
    border: none;
    border-radius: 5px; 
    /* font-size: 75%;  */
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.067);
}

.btn-yellow:hover{
    background-color: #d0960f;
}

.pointer{
    cursor: pointer;
}

/*=============================== LOGIN AND REGISTER ===============================*/
.login-form-img{
    border-radius: 15px;
}


/*=============================== INDEX PAGE BANNER ===============================*/
.banner{
    height: 450px;
    width: 100%;
    object-position: center 0px;
    object-fit: cover;
    opacity: .8;
    border-radius: 25px;
}

.banner_text{
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 10%;
}

/*=============================== ABOUT ===============================*/
.about-container{
    padding-left: 3rem;
    padding-right: 3rem;
}

.about_img{
    border: 1px solid rgba(169, 169, 169, 0.209);
    background-color: white;
    padding: 15px 15px 60px 15px;
    box-shadow: 5px 10px 10px darkgrey;
}

#about_img1{
    left: 100px;
    top: 100px;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}

#about_img2{
    left: 100px;
    top: 100px;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}

/*=============================== TESTIMONY & EVENT ===============================*/
.testi_card,
.event_card{
    border-radius: 5%;
    box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.113);
}

.testi_card_img,
.event_card_img{
    border-radius: 5% 5% 0 0;
    object-fit: contain;
}

.testimony_title{
    padding-top: 3rem;
    margin-top: 3rem;
}

.events_container{
    padding-top: 3rem;
}

/*=============================== FOOTER =============================== */
.footer1{
    background-color: #2f4c61;;
}

.footer2{
    background-color: #203341;
}

/*=============================== EVENT PAGE ===============================*/
.event_wide_card{
    border-radius: 2%;
    box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.113);
}
.event_wide_img{
    height: 300px; 
    border-radius: 2% 2% 0 0;
    object-fit: cover;
    object-position: center center;
}

.event_page_desc{
    font-size: small;
}


/*=============================== EVENT DETAIL PAGE ===============================*/
.event-detail-card{
    margin-top: 3rem;
    border-radius: 15px;
    box-shadow: 0 13px 15px 0 rgba(0, 0, 0, 0.113);
    padding: 2rem;
    border: 1px solid rgba(232, 230, 230, 0.637);
}

/* .event-detail-container,
.event-detail{
    padding-left: 3rem;
    padding-right: 3rem;
} */

.event-detail-img{
    width: 100%;
    border-radius: 15px;
}

.event-detail-info{
    color: #c2122c;
}

.popup{
    display: none;
}


/* SMALL DEVICES */
@media screen and (max-width: 350px){

    /* INDEX PAGE */
    .banner{
        height: 250px;
    }

    .banner-desc{
        font-size: small;
        margin-bottom: 0;
    }

    .btn-banner{
        font-size: x-small;
    }

    .about_img{
        border: 1px solid rgba(169, 169, 169, 0.209);
        background-color: white;
        padding: 15px 15px 30px 15px;
        box-shadow: 5px 10px 10px darkgrey;
    }

    .about-title{
        margin-bottom: -1rem;
    }

    .about_img{
        margin-bottom: 2rem;
        /* margin-top: 2rem; */
    }

    .about-container{
        padding-left: 1rem;
        padding-right: 2rem;
        text-align: center;
    }

    .about-content{
        font-size: xx-small;
    }

    #about_img2{
        margin-top: 2rem;
    }

    .testimony_title{
        padding-top: 0;
        margin-top: 2rem;
    }

    .testi_container{
        padding-top: 0;
        margin-top: 1rem;
    }

    .testi_card_container,
    .event_card_container{
        margin-bottom: 2rem;
    }

    .events_container{
        padding-top: 1rem;
    }

    /* EVENTS PAGE */
    .events{
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .event_wide_card{
        height: 350px;
    }

    .event_page_desc{
        font-size: x-small;
    }

    /* EVENT DETAIL */
    .event-detail-container,
    .event-detail{
    padding-left: 0;
    padding-right: 0;
    }

    .event-detail{
        display: flex;
        justify-content: center;
    }

    .event-detail-card{
        width: 90%;
        margin-top: 0;
    }

    .event-regist-title{
        margin-top: 3rem;
    }
}

@media screen and (min-width: 351px){
    /* INDEX PAGE */
    .banner{
        height: 250px;
    }

    .banner-desc{
        font-size: small;
        margin-bottom: 0;
    }

    .btn-banner{
        font-size: x-small;
    }

    .about_img{
        border: 1px solid rgba(169, 169, 169, 0.209);
        background-color: white;
        padding: 15px 15px 30px 15px;
        box-shadow: 5px 10px 10px darkgrey;
    }

    .about-title{
        margin-bottom: -1rem;
    }

    .about_img{
        margin-bottom: 2rem;
        /* margin-top: 2rem; */
    }

    .about-container{
        padding-left: 1rem;
        padding-right: 2rem;
        text-align: center;
    }

    .about-content{
        font-size: xx-small;
    }

    #about_img2{
        margin-top: 2rem;
    }

    .testimony_title{
        padding-top: 0;
        margin-top: 2rem;
    }

    .testi_container{
        padding-top: 0;
        margin-top: 1rem;
    }

    .testi_card_container,
    .event_card_container{
        margin-bottom: 2rem;
    }

    .events_container{
        padding-top: 1rem;
    }

    /* EVENTS */
    .events{
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* EVENT DETAIL */
    .event-detail-card{
        margin-top: 0;
    }
}

@media screen and (min-width: 568px) {
    
}

@media screen and (min-width: 767px){
    /* .test-card{
        width: 50%;
    } */
}

@media screen and (min-width: 1024px){

}